main{
    background-image: url(./ax/cover2.webp);
    background-size: cover;
    position: relative;  
}
.asl{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.container{
    border: solid rgb(46, 51, 1);
    background-color: rgb(233, 233, 150);
    border-radius: 10px; 
}
ul.menu li{
    display: inline-block;
    list-style: none;
    position: relative;
}
ul.menu li a{
    display: inline-block;
    padding: 5px;
    color: black;
}
ul.menu li a:hover{
    background-color: rgba(219, 96, 178, 0.952);
    border-radius: 15px;
}
ul.sub{
    display: none;
    position: absolute;
}
ul.menu li:hover ul.sub{
    display: block;
    background-color: rgba(235, 112, 12, 0.897);
    border-radius: 20px;
}
.onv{
   display: flex;
   justify-content: center;
   align-items: center;
   border-style: solid;
   background-color: rgb(212, 228, 171);
   border-radius: 10px;
   margin: 60px;
   height: 100px;
   transition-property: all;
}
.onv:hover{
    background-color: rgba(28, 228, 105, 0.966);
    transition-duration: 1s;
    border-radius: 50px;
    transform: scale(1.1); 
}
.wct{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    
}
section article{
    border-style: solid;
    border-color: rgb(8, 2, 65);
    border-radius: 50%;
    width: 300px;
    height: 400px;
    gap: 30px;
    transition: all;
}
article img{
width: 300px;
height: 400px;
border-radius: 50%;
}
article img:hover{
    transition: 1s;
    transform: scaleX(1.1);
}