header{
    position: relative;
 }
.asl{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.container{
    border: solid rgb(46, 51, 1);
    background-color: rgb(233, 233, 150);
    border-radius: 10px; 
}
ul.menu li{
    display: inline-block;
    list-style: none;
    position: relative;
}
ul.menu li a{
    display: inline-block;
    padding: 5px;
    color: black;
}
ul.menu li a:hover{
    background-color: rgba(219, 96, 178, 0.952);
    border-radius: 15px;
}
ul.sub{
    display: none;
    position: absolute;
}
ul.menu li:hover ul.sub{
    display: block;
    background-color: rgba(235, 112, 12, 0.897);
    border-radius: 20px;
}
.bio{
    border-style: solid;
    border-color: rgb(25, 39, 1);
    border-radius: 30px;
    margin: 30px;
    padding: 20px;
    display: flex;
    background-color: rgb(240, 248, 169);
}
.im{
    margin-top: 150px;
    padding: 30px;
}
.text{
    padding: 50px;
}
.h22{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.h33{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    border-radius: 30px;
}
table,th,td{
    padding: 4px 8px;
    border:1px solid black;
    font-size: 1.1rem;
}
@media (max-width:720px){
    .bio{
        display: block;
    }
}
@media (max-width:500px){
    .text{
        padding: 10px;
    }
}
@media (max-width:400px){
    .im{
        padding: 10px;
    }
}